body {
    background: grey;
    display: flex;

}

svg {
    background: white;
    margin: 0 auto;
    margin-top: 80px;
}

.bar:hover {
    fill: white;
}

.bar {
    fill: navy;
}

#title {
    font-size: 25px;
    font-weight: bold;
}

.left-label {
    transform: rotate(270deg);
}
