body {
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    background: white;
}

.bar:hover {
    fill: white;
}

.bar {
    fill: navy;
}

.title {
    font-size: 25px;
    font-weight: bold;
}